<nav id="navBarMenu">
  <ul>
    <li>
      <a href="http://localhost:4200/home" class="logo">
        <img src="assets/img/logo.png" alt="" width="75px" height="75px">
        <span class="nav-item">My virtual home</span>
      </a>
    </li>

    <li><a href="http://localhost:4200/profile">
        <i class="fas fa-user"></i>
        <span class="nav-item">Profile</span>
      </a></li>

    <li><a href="http://localhost:4200/home">
        <i class="fas fa-home"></i>
        <span class="nav-item">Home</span>
      </a></li>

    <li><a href="http://localhost:4200/houses">
        <i class="fas fa-laptop-house"></i>
        <span class="nav-item">Houses</span>
      </a></li>

    <li><a href="http://localhost:4200/sensor">
        <i class="fas fa-temperature-low"></i>
        <span class="nav-item">Temperature Sensor</span>
      </a></li>

    <li><a href="http://localhost:4200/analytics">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item">Analytics</span>
      </a></li>

    <li><a href="http://localhost:4200/settings">
        <i class="fas fa-cog"></i>
        <span class="nav-item">Settings</span>
      </a></li>

    <li><a href="http://localhost:4200/help">
        <i class="fas fa-question-circle"></i>
        <span class="nav-item">Help</span>
      </a></li>

    <li><a href="http://localhost:4200/login" class="logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Log out</span>
      </a></li>
  </ul>
</nav>

<p style="text-align: center; padding: 50px; margin-top: 30px;">sensor works!</p>
