<div class="container" style="text-align: center; padding: 50px; margin-top: 30px;">
  <div class="loginClass">
    <div class="column" id="imgCol">
      <img src="assets/img/loginphoto.jpg" alt="" width="700px">
    </div>

    <div class="column" id="formCol">
        <img src="assets/img/logo.png" alt="" width="75px" height="75px">
        <br><br>
        <span style="font-weight: bold; font-size: 20px">Wellcome back, register</span>
        <br>
        <span style="font-weight: bold; font-size: 20px">or login to acces!</span> 
        <br><br>
      <div>
        <form action="/home">
          <label for="fname">Username or email:</label><br>
          <input type="text" id="fname" name="fname" placeholder="example@example.com"><br>
          <br>          
          <label for="lname">Password:</label><br>
          <input type="password" id="lname" name="lname"><br><br>
          <input type="submit" value="Submit" class="button">
        </form>
      </div>
    </div>
  </div>
</div>
