<nav id="navBarMenu">
  <ul>
    <li>
      <a href="http://localhost:4200/home" class="logo">
        <img src="assets/img/logo.png" alt="" width="75px" height="75px">
        <span class="nav-item">My virtual home</span>
      </a>
    </li>

    <li><a href="http://localhost:4200/profile">
        <i class="fas fa-user"></i>
        <span class="nav-item">Profile</span>
      </a></li>

    <li><a href="http://localhost:4200/home">
        <i class="fas fa-home"></i>
        <span class="nav-item">Home</span>
      </a></li>

    <li><a href="http://localhost:4200/houses">
        <i class="fas fa-laptop-house"></i>
        <span class="nav-item">Houses</span>
      </a></li>

    <li><a href="http://localhost:4200/sensor">
        <i class="fas fa-temperature-low"></i>
        <span class="nav-item">Temperature Sensor</span>
      </a></li>

    <li><a href="http://localhost:4200/analytics">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item">Analytics</span>
      </a></li>

    <li><a href="http://localhost:4200/settings">
        <i class="fas fa-cog"></i>
        <span class="nav-item">Settings</span>
      </a></li>

    <li><a href="http://localhost:4200/help">
        <i class="fas fa-question-circle"></i>
        <span class="nav-item">Help</span>
      </a></li>

    <li><a href="http://localhost:4200/login" class="logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Log out</span>
      </a></li>
  </ul>
</nav>

<!--Main home body-->
<div class="mainBody">
  <span class="h1">Hi John Doe!</span>
  <table>
    <th>
      <span class="h2">Recent Rooms</span>
    </th>
    <th>
      <a href="#">
        <span class="h2" style="color:darkblue;">View all rooms ></span>
      </a>
    </th>
  </table>

  <div>
    <table class="table-imgs">
      <th>
        <div class="opacity-img">
          <img src="assets/img/hab1.png">
        </div>
      </th>

      <th>
        <div class="opacity-img">
          <img src="assets/img/hab2.png">
        </div>
      </th>

      <th>
        <div class="opacity-img">
          <img src="assets/img/hab3.png">
        </div>
      </th>
    </table>
  </div>


  <br><br><br>
  <hr> <br><br>
  <div style="text-align: center;">
    <span class="h1">Statistics</span>

    <div style="text-align: left; margin-left: 50px; margin-right: -50px;" class="column">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a odio sit amet risus sollicitudin placerat
      in sed velit. Morbi in faucibus metus. Nulla non auctor tellus. Curabitur vulputate nibh et elit facilisis,
      vel tempor velit condimentum. Fusce at elit risus. Nulla sed leo aliquam turpis vulputate eleifend. Praesent
      risus nibh, efficitur quis pretium elementum, interdum eu neque.<br><br>

      Vestibulum rutrum lobortis erat, et congue elit pulvinar non. Aliquam bibendum lobortis ante ac malesuada.
      In quis mollis orci. Proin tincidunt molestie erat eu blandit. Interdum et malesuada fames ac ante ipsum
      primis in faucibus. Suspendisse dictum auctor quam, at maximus orci faucibus in. Pellentesque a venenatis
      purus, at bibendum metus. Vivamus rhoncus sem dui, in feugiat purus efficitur quis.<br><br>

      Proin auctor nisl non turpis luctus consectetur. Proin ac eros suscipit, sodales purus vitae, pellentesque
      elit. Quisque aliquam porttitor ante vel interdum.
    </div>

    <div class="column" style="margin-left: -80px; margin-right: 80px;">
      <img src="assets/img/hab3.png">
    </div>

  </div>

</div>
